In [6]:

!pip show pandas

Name: pandas
Version: 2.3.0
Summary: Powerful data structures for data analysis, time series, and statistics
Home-page: https://pandas.pydata.org
Author:
Author-email: The Pandas Development Team <pandas-dev@python.org>
License: BSD 3-Clause License

 Copyright (c) 2008-2011, AQR Capital Management, LLC, Lambda Foundry, Inc. and PyData Development Team
 All rights reserved.

 Copyright (c) 2011-2023, Open source contributors.

 Redistribution and use in source and binary forms, with or without
 modification, are permitted provided that the following conditions are met:

 * Redistributions of source code must retain the above copyright notice, this
   list of conditions and the following disclaimer.

 * Redistributions in binary form must reproduce the above copyright notice,
   this list of conditions and the following disclaimer in the documentation
   and/or other materials provided with the distribution.

 * Neither the name of the copyright holder nor the names of its
   contributors may be used to endorse or promote products derived from
   this software without specific prior written permission.

 THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
 AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
 IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
 DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE
 FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
 DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR
 SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER
 CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY,
 OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
 OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

Location: C:\Users\CloudThat\AppData\Local\Programs\Python\Python313\Lib\site-packages
Requires: numpy, python-dateutil, pytz, tzdata
Required-by: mlflow, seaborn, shap

In [7]:
from sklearn.model_selection import train_test_split

In [8]:
#Load and Prepare the Data
import pandas as pd
url = "https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2025-01.parquet"
df = pd.read_parquet(url)

In [9]:
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee,cbd_congestion_fee
0,1,2025-01-01 00:18:38,2025-01-01 00:26:59,1.0,1.60,1.0,N,229,237,1,10.00,3.5,0.5,3.00,0.0,1.0,18.00,2.5,0.0,0.00
1,1,2025-01-01 00:32:40,2025-01-01 00:35:13,1.0,0.50,1.0,N,236,237,1,5.10,3.5,0.5,2.02,0.0,1.0,12.12,2.5,0.0,0.00
2,1,2025-01-01 00:44:04,2025-01-01 00:46:01,1.0,0.60,1.0,N,141,141,1,5.10,3.5,0.5,2.00,0.0,1.0,12.10,2.5,0.0,0.00
3,2,2025-01-01 00:14:27,2025-01-01 00:20:01,3.0,0.52,1.0,N,244,244,2,7.20,1.0,0.5,0.00,0.0,1.0,9.70,0.0,0.0,0.00
4,2,2025-01-01 00:21:34,2025-01-01 00:25:06,3.0,0.66,1.0,N,244,116,2,5.80,1.0,0.5,0.00,0.0,1.0,8.30,0.0,0.0,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3475221,2,2025-01-31 23:01:48,2025-01-31 23:16:29,NaN,3.35,NaN,None,79,237,0,15.85,0.0,0.5,0.00,0.0,1.0,20.60,NaN,NaN,0.75
3475222,2,2025-01-31 23:50:29,2025-02-01 00:17:27,NaN,8.73,NaN,None,161,116,0,28.14,0.0,0.5,0.00,0.0,1.0,32.89,NaN,NaN,0.75
3475223,2,2025-01-31 23:26:59,2025-01-31 23:43:01,NaN,2.64,NaN,None,144,246,0,14.91,0.0,0.5,0.00,0.0,1.0,19.66,NaN,NaN,0.75
3475224,2,2025-01-31 23:14:34,2025-01-31 23:34:52,NaN,3.16,NaN,None,142,107,0,17.55,0.0,0.5,0.00,0.0,1.0,22.30,NaN,NaN,0.75
3475225,2,2025-01-31 23:56:42,2025-02-01 00:07:27,NaN,2.29,NaN,None,237,238,0,12.09,0.0,0.5,0.00,0.0,1.0,16.09,NaN,NaN,0.00

In [10]:
#Feature Engineering
df['trip_duration']= (pd.to_datetime(df['tpep_dropoff_datetime']) - pd.to_datetime(df['tpep_pickup_datetime'])).dt.total_seconds() / 60.0

In [11]:
df['trip_duration']

0           8.350000
1           2.550000
2           1.950000
3           5.566667
4           3.533333
             ...
3475221    14.683333
3475222    26.966667
3475223    16.033333
3475224    20.300000
3475225    10.750000
Name: trip_duration, Length: 3475226, dtype: float64

In [12]:
#filter the trip duration > 0 and < 250 
df= df[(df['trip_duration'] > 0) & (df['trip_duration'] < 250)]

In [13]:
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,...,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee,cbd_congestion_fee,trip_duration
0,1,2025-01-01 00:18:38,2025-01-01 00:26:59,1.0,1.60,1.0,N,229,237,1,...,3.5,0.5,3.00,0.0,1.0,18.00,2.5,0.0,0.00,8.350000
1,1,2025-01-01 00:32:40,2025-01-01 00:35:13,1.0,0.50,1.0,N,236,237,1,...,3.5,0.5,2.02,0.0,1.0,12.12,2.5,0.0,0.00,2.550000
2,1,2025-01-01 00:44:04,2025-01-01 00:46:01,1.0,0.60,1.0,N,141,141,1,...,3.5,0.5,2.00,0.0,1.0,12.10,2.5,0.0,0.00,1.950000
3,2,2025-01-01 00:14:27,2025-01-01 00:20:01,3.0,0.52,1.0,N,244,244,2,...,1.0,0.5,0.00,0.0,1.0,9.70,0.0,0.0,0.00,5.566667
4,2,2025-01-01 00:21:34,2025-01-01 00:25:06,3.0,0.66,1.0,N,244,116,2,...,1.0,0.5,0.00,0.0,1.0,8.30,0.0,0.0,0.00,3.533333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3475221,2,2025-01-31 23:01:48,2025-01-31 23:16:29,NaN,3.35,NaN,None,79,237,0,...,0.0,0.5,0.00,0.0,1.0,20.60,NaN,NaN,0.75,14.683333
3475222,2,2025-01-31 23:50:29,2025-02-01 00:17:27,NaN,8.73,NaN,None,161,116,0,...,0.0,0.5,0.00,0.0,1.0,32.89,NaN,NaN,0.75,26.966667
3475223,2,2025-01-31 23:26:59,2025-01-31 23:43:01,NaN,2.64,NaN,None,144,246,0,...,0.0,0.5,0.00,0.0,1.0,19.66,NaN,NaN,0.75,16.033333
3475224,2,2025-01-31 23:14:34,2025-01-31 23:34:52,NaN,3.16,NaN,None,142,107,0,...,0.0,0.5,0.00,0.0,1.0,22.30,NaN,NaN,0.75,20.300000
3475225,2,2025-01-31 23:56:42,2025-02-01 00:07:27,NaN,2.29,NaN,None,237,238,0,...,0.0,0.5,0.00,0.0,1.0,16.09,NaN,NaN,0.00,10.750000

In [14]:
df.columns

Index(['VendorID', 'tpep_pickup_datetime', 'tpep_dropoff_datetime',
       'passenger_count', 'trip_distance', 'RatecodeID', 'store_and_fwd_flag',
       'PULocationID', 'DOLocationID', 'payment_type', 'fare_amount', 'extra',
       'mta_tax', 'tip_amount', 'tolls_amount', 'improvement_surcharge',
       'total_amount', 'congestion_surcharge', 'Airport_fee',
       'cbd_congestion_fee', 'trip_duration'],
      dtype='object')

In [15]:
features= df[['trip_distance', 'trip_duration']]

In [16]:
target = df['fare_amount']

In [17]:
df['fare_amount'].isna().sum()

np.int64(0)

In [18]:
df['trip_distance'].isna().sum()

np.int64(0)

In [19]:
df['trip_duration'].isna().sum()

np.int64(0)

In [20]:
X_train, X_test, y_train, y_test = train_test_split(features, target, test_size=0.30, random_state=42)

In [21]:
import mlflow
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from mlflow.models import infer_signature
#Start the mlflow context
mlflow.set_tracking_uri("http://localhost:5000")
mlflow.set_experiment("FareEstimationExperiment")
with mlflow.start_run():
    #Define the model
    model = LinearRegression()
    #Fit the model
    model.fit(X_train, y_train)
    #Predict Fare for the test data
    predictions = model.predict(X_test)
    #Evaluate the model
    mse = mean_squared_error(y_test, predictions)
    #Logging Metrics
    mlflow.log_metric("mse", mse)
    #Logging the hyperparameters
    mlflow.log_param("model_type", "LinearRegression")
    
     # Infer the model signature
    signature = infer_signature(X_train, model.predict(X_train))
    
    # Log the model, which inherits the parameters and metric
    model_info = mlflow.sklearn.log_model(
        sk_model=model,
        name="FareEstimationModel",
        signature=signature,
        input_example=X_train,
        registered_model_name="FareEstimator",
    )

2025/07/31 02:07:29 INFO mlflow.tracking.fluent: Experiment with name 'FareEstimationExperiment' does not exist. Creating a new experiment.
c:\Users\CloudThat\AppData\Local\Programs\Python\Python313\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm
Downloading artifacts: 100%|██████████| 7/7 [00:00<00:00, 107.90it/s]
Successfully registered model 'FareEstimator'.
2025/07/31 02:08:03 INFO mlflow.store.model_registry.abstract_store: Waiting up to 300 seconds for model version to finish creation. Model name: FareEstimator, version 1
Created version '1' of model 'FareEstimator'.

🏃 View run sneaky-pug-203 at: http://localhost:5000/#/experiments/2/runs/ac52364acc184c67a596a63f97c2b2f1
🧪 View experiment at: http://localhost:5000/#/experiments/2

In [22]:
import pickle
with open('lr_model.bin', 'wb') as f_out:
    pickle.dump((model), f_out)

In [23]:
from sklearn.ensemble import GradientBoostingRegressor

In [24]:
with mlflow.start_run():
    #Define the model
    gbr = GradientBoostingRegressor(n_estimators=10)
    #Fit the model
    gbr.fit(X_train,y_train)
    #Predict Fare for the test data
    predictions = gbr.predict(X_test)
    #Evaluate the model
    mse = mean_squared_error(y_test, predictions)
    #Logging Metrics
    mlflow.log_metric("mse", mse)
    #Logging the hyperparameters
    mlflow.log_param("model_type", "GradientBoosting Regressor")
    
     # Infer the model signature
    signature = infer_signature(X_train, gbr.predict(X_train))
    
    # Log the model, which inherits the parameters and metric
    model_info = mlflow.sklearn.log_model(
        sk_model=gbr,
        name="FareEstimationModel",
        signature=signature,
        input_example=X_train,
        registered_model_name="FareEstimator",
    )

Downloading artifacts: 100%|██████████| 7/7 [00:00<00:00, 79.58it/s]
Registered model 'FareEstimator' already exists. Creating a new version of this model...
2025/07/31 02:08:49 INFO mlflow.store.model_registry.abstract_store: Waiting up to 300 seconds for model version to finish creation. Model name: FareEstimator, version 2
Created version '2' of model 'FareEstimator'.

🏃 View run abundant-hen-89 at: http://localhost:5000/#/experiments/2/runs/6383c693bdff417d973ebac41beb6353
🧪 View experiment at: http://localhost:5000/#/experiments/2

In [25]:
#Loading the registered model with version 1

mlflow.set_tracking_uri("http://localhost:5000")
reg_model_name = 'FareEstimator'
model_uri = f"models:/{reg_model_name}/1"
loaded_model = mlflow.sklearn.load_model(model_uri)
print("Loaded Model",loaded_model)

Downloading artifacts: 100%|██████████| 7/7 [03:16<00:00, 28.12s/it]

Loaded Model LinearRegression()

In [27]:
#Loading the registered model with version 2

mlflow.set_tracking_uri("http://localhost:5000")
reg_model_name = 'FareEstimator'
model_uri = f"models:/{reg_model_name}/2"
loaded_model = mlflow.sklearn.load_model(model_uri)
print("Loaded Model",loaded_model)

Downloading artifacts:   0%|          | 0/7 [00:00<?, ?it/s]

Downloading artifacts: 100%|██████████| 7/7 [03:45<00:00, 32.26s/it]

Loaded Model GradientBoostingRegressor(n_estimators=10)